@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

@layer base {
    body {
        @apply m-0 box-border h-full w-full p-0 bg-dark-blue;
    }
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}
